@import "../fonts/icon/iconfont.css";

/*COMMON STYLES*/
body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto, Veranda, sans-serif;
    color: #ffffff;
}
h1 {
    margin-bottom: 40px;
}
a {
    text-decoration: none;
}
input {
    padding: 8px 15px;
    width: 83%;
    font: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #353535;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
input:hover {
    border-width: 2px;
    border-color: #c7c6c5;
}
input:focus {
    border-width: 2px;
    border-color: #8fbdec;
    outline: none;
}
input + label {
    position: relative;
    display: inline-block;
    /*top: 1px;*/
    /*left: 15px;*/
    width: 0;
    height: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}
input + label::before {
    content: attr(data-first);
    display: block;
    position: absolute;
    top: 31px;
    left: 1px;
    font: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #9b9b9b;
    white-space: nowrap;
    transition: 0.2s ease;
}
input:focus + label::before,
input:not(:placeholder-shown) + label::before {
    font-size: 11px;
    color: #8fbdec;
    transform: translateY(-30px);
}
.conteiner {
    width: auto;
    padding-left: 2.223%;
    padding-right: 2.223%;
}
.clearfix::after {
    display: table;
    content: "";
    width: 60%;
    clear: both;
}
.nav-menu {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}
.nav-menu > li {
    display: inline-block;
    position: relative;
    font-size: 16px;
    vertical-align: top;
    cursor: pointer;
}
.index-btn {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    font-family: "Roboto", "Veranda", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #fefefe;
    background-image: linear-gradient(to top, #c94c39, #d56847);
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    outline: none;
    overflow: hidden;
}
.index-btn:hover {
    background-image: linear-gradient(to top, #ec6f5e, #f58669);
}
.index-btn:active {
    background-image: linear-gradient(to top, #c23c2a, #c27559);
    box-shadow: inset 0 2px 2px 0 #942718;
}
.page-bg {
    box-sizing: border-box;
    width: auto;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #8a9c8f;
    background-position: center top;
    background-repeat: no-repeat;
}
.page-bg.slide1 {
    background-image: url(../img/Page_bg1-t.jpg);
}
.page-bg.slide2 {
    background-image: url(../img/Page_bg2-t.jpg);
}
.page-bg.slide3 {
    background-image: url(../img/Page_bg3-t.jpg);
}
/*HEADER*/
.page-header {
    position: relative;
    width: auto;
    min-height: 70px;
    padding-top: 23px;
}
.logo {
    position: absolute;
    top: 10px;
    left: -8px;
    color: #ffffff;
}
.logo img {
    width: 155px;
    height: 63px;
}
.header-menu {
    float: left;
    min-width: 390px;
    margin-left: 161px;
}
.header-menu_item {
    padding: 7px 14px;
    border-radius: 15px;
    transition: 0.2s;
}
.header-menu_item:hover {
    color: #333333;
    background-color: #f7f6f3;
}
.header-menu_item:active {
    box-shadow: inset 0 2px 1px 0 #696969;
    background-color: #ededed;
}
.header-menu_item > a {
    display: block;
    font: inherit;
    line-height: 17px;
    color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header-menu_item::after {
    content: "";
    display: block;
    position: absolute;
    top: 32px;
    left: 10px;
    right: 10px;
    height: 5px;
}
.header-menu_item:hover .catalog-inner_menu {
    visibility: visible;
    }
.inner-menu {
    visibility: hidden;
    position: absolute;
    top: 37px;
    left: 0;
    min-width: 143px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    list-style: none;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 5;
    transition-delay: 0.1s;
}
.inner-menu_item {
    position: relative;
    padding: 7px 15px;
}
.inner-menu a {
    padding: 5px;
    font: inherit;
    color: inherit;
    border-bottom: none;
}
 .inner-menu_title {
    padding: 10px 15px;
    font-weight: 700;
}
.inner-menu_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 89.51%;
    border-bottom: 1px solid #d1d0ce;
}
.inner-menu_item:hover {
    background-color: #fbded7;
}
.inner-menu_item:active {
    background-color: #f6b5a5;
}
.header-info_block {
    float: right;
    min-width: 280px;
    text-align: right;
    font-size: 0;
    /*background-color: yellow;*/
}
.header-info_block p {
    margin: 5px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
}
.header-info_block span {
    font-weight: 900;
    font-size: 22px;
    line-height: 24px;
}
.header-btn {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 13px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.header-btn a {
    font: inherit;
    color: inherit;
}
.header-btn::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 25px;
    height: 25px;
    background-image: url(../img/slider.png);
    background-repeat: no-repeat;
}
.header-btn:hover {
    color: #000000;
    background-color: #f8f7f4;
}
.header_search-btn {
    width: 32px;
    border-radius: 50%;
}
.header_search-btn::before {
    background-position: -18px -18px;
}
.header_search-btn:hover::before {
    background-position: -88px -18px;
}
.header_search-btn a {
    font-size: 0;
}
.popup-search {
    display: none;
}
.header_login-btn {
    width: 93px;
    padding-left: 42px;
    padding-right: 15px;
}
.header_login-btn::before {
    left: 14px;
    background-position: -157px -18px;
}
.header_login-btn:hover::before {
    background-position: -227px -18px;
}
.header_case-btn {
    width: 117px;
    margin-right: 0;
    padding-left: 42px;
    padding-right: 44px;
}
.header_case-btn::before {
    left: 11px;
    background-position: -18px -88px;
}
.header_case-btn:hover::before {
    background-position: -88px -88px;
}
.header_case-btn:hover::after {
    content: "2 товара";
    position: absolute;
    top: 5px;
    right: 17px;
    width: 62px;
    font: inherit;
    font-weight: 500;
    color: #313131;
}
.header_case-btn:hover a {
    font-size: 0;
}
.header-breadcrumbs {
    margin-top: 77px;
    margin-right: auto;
}
/*MAIN*/
.index-slider {
    position: relative;
    min-height: 500px;
    margin-bottom: 24px;
}
.slide-toggle {
    position: absolute;
    left: 0;
    bottom: 38px;
    margin: 0;
    font-size: 0;
}
.slide-toggle_item {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
.slide-toggle_item:hover {
    background-color: rgba(248, 247, 244, 0.4);
}
.slide-toggle_item:active {
    background-color: #ffffff;
}
.slide-toggle_item.current {
    background-color: #ffffff;
    cursor: auto;
}
.slide-btn {
    position: absolute;
    box-sizing: border-box;
    left: 50.5%;
    bottom: 17px;
    width: 280px;
    height: 63px;
    margin-left: -140px;
    padding: 10px 20px;
    font-size: 32px;
    line-height: 40px;
}
.catalog-filters {
    width: 860px;
    margin-bottom: 40px;
    background-color: orange;
}
.filters-item {
    float: left;
    margin-right: 15px;
    background-color: yellow;
}
.filters-container {
    height: 36px;
    vertical-align: center;
    border-radius: 30px;
    background-color: red;
}
.filters-sorting {
    width: 195px;
}
.filters-price {
    width: 220px;
}
.filters-fat {
    width: 414px;
    margin-right: 0;
}
.filters-topping {
    width: 700px;
}
.filters-btn {
    width: 145px;
    box-sizing: border-box;
    margin-right: 0;
}
.index-promo {
    margin-bottom: 40px;
}
.promo-items {
    box-sizing: border-box;
    position: relative;
    width: 48.83%;
    height: 230px;
    min-width: 419px;
    padding: 15px 20px;
    border-radius: 20px;
    overflow: hidden;
}
.promo-items .title {
    display: block;
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 42px;
}
.promo-items p {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}
.promo-btn {
    position: absolute;
    right: 20px;
    bottom: 23px;
}
.promo-items.left_item {
    float: left;
    margin-right: 20px;
    background: url(../img/banner1.jpg) no-repeat;
}
.promo-items.right_item {
    float: right;
    background: url(../img/banner2.jpg) no-repeat;
}
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 36px;
    width: auto;
}
.products-items {
    float: left;
    position: relative;
    width: 23.286%;
    min-width: 200px;
    margin-right: 2.267%;
    text-align: center;
}
.products-items:nth-child(4n) {
    margin-right: 0;
}
.products-items img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%
}
.product-price {
    margin: 0;
    margin-top: -60px;
    margin-bottom: 17px;
    padding: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.product-price span {
    font-size: 0;
}
.product-price span::before {
    padding: 0 3px;
    font-size: 35px;
}
.product-price small {
    font-size: 30px;
}
.products-items a {
    font: inherit;
    color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.products-items.hit::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 61px;
    height: 61px;
    background-image: url(../img/HIT.jpg);
    border-radius: 50%;
}
.index-advantage {
    width: auto;
    padding: 25px 20px;
    padding-bottom: 0;
    margin-bottom: 40px;
    background: #efe4cd url(../img/adv_bg.jpg) repeat-x;
    border-radius: 15px;
    overflow: hidden;
}
.advantage-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}
.advantage-items {
    box-sizing: border-box;
    width: 48.782%;
    min-width: 400px;
    padding-bottom: 16px;
}
.advantage-items p {
    position: relative;
    margin: 5px 0;
    padding: 14px 0 4px 55px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}
.advantage-item1 {
    float: left;
    margin-right: 20px;
}
.advantage-item2 {
    float: right;
}
.advantage-icons {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background: transparent url(../img/slider.png) no-repeat;
}
.advantage-icons.ice-cream {
    background-position: -7px -146px;
}
.advantage-icons.leaf {
    background-position: -77px -146px;
}
.advantage-icons.cow {
    background-position: -147px -146px;
}
.advantage-icons.thermometer {
    background-position: -217px -146px;
}
.index-news {
    margin-bottom: 40px;
}
.news-items {
    box-sizing: border-box;
    width: 48.83%;
    min-width: 419px;
    min-height: 220px;
    border-radius: 15px;
    overflow: hidden;
}
.news-blog {
    float: left;
    margin-right: 20px;
    padding: 24px 20px;
    color: #5a5a5a;
    background: #ffffff url(../img/news_bg.jpg) no-repeat right;
}
.news-blog h3 {
    margin-top: 3px;
}
.news-blog a {
    font: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #353535;
}
.news-mailing {
    float: right;
    padding: 19px 24px;
    background: #f8f7f4 url(../img/mailing_bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.news-mailing form {
    display: flex;
    flex-wrap: wrap;
}
.news-mailing p {
    font-weight: 400;
    color: #5a5a5a;
}
.news-mailing input {
    flex-grow: 1;
    margin-top: 21px;
    margin-right: 10px;
    padding: 7px;
    width: 57%;
}
.news-mailing label::before {
    left: -368px;
}
.news-mailing button {
    margin-top: 21px;
}
.index-location {
    position: relative;
    width: 105.3%;
    margin-left: -2.6%;
}
.index-location img {
    width: 100%;
}
.index-location::before {
    content: "";
    display: block;
    position: absolute;
    top: 140px;
    left: 245px;
    width: 218px;
    height: 142px;
    background: url(../img/map_marker.png) no-repeat;
}
.index-contacts {
    display: block;
    position: absolute;
    top: 65px;
    right: 2.223%;
    width: 250px;
    padding: 15px 25px;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: #ffffff;
}
.index-contacts p {
    margin-bottom: 20px;
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #343434;
}
.index-contacts span {
    font: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #343434;
}
.index-contacts .tel {
    margin-top: 10px;
    line-height: 28px;
}
.feedback-btn {
    width: 83%;
    margin-bottom: 4px;
}
.pop-up_feedback {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 480px;
    min-height: 440px;
    background-color: white;
}
.page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 105px;
    padding-bottom: 30px;
}
.social-btn {
    float: left;
    width: 200px;
    margin-top: 35px;
    margin-right: 16.667%;
    font-size: 0;
    vertical-align: bottom;
}
.social-btn_border {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 18px;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    overflow: hidden;
    transition: 0.2s;
}
.social-btn_item {
    font-size: 31px;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;
}
.social-btn_border:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.71);

}
.social-btn_border:hover .social-btn_item {
    color: rgba(255, 255, 255, 0.98)
}
.social-btn_border:active {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.71), inset 0 2px 1px 1px #585858;
}
.social-btn_border:active .social-btn_item {
    padding-top: 2px;
    vertical-align: bottom;
    color: #eaeaea;
}
.additional-info {
    float: left;
    width: 360px;
    margin-top: 35px;
    margin-right: 16.667%;
    background-color: yellow;
}
.developers {
    float: right;
    width: 200px;
    margin-top: 18px;
    background-color: yellow;
}
