* {
    margin: 0;
    padding: 0;
}
.conteiner {
    width: auto;
    padding-left: 2.3%;
    padding-right: 2.3%;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.nav {
    list-style: none;
}
.nav li {
    display: inline-block;
    vertical-align: top;
}
.page-bg {
    width: auto;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #8a9c8f;
}

.page-header {
    position: relative;
    width: auto;
    min-height: 70px;
    margin: 0 2.23%;
    padding-top: 23px;
    background-color: green;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 158px;
    height: 70px;
    margin-right:25px;
    background-color: yellow;
}
.page-menu {
    float: left;
    min-width: 390px;
    margin-left: 178px;
    background-color: yellow;
}
.header-info_block {
    float: right;
    min-width: 280px;
    text-align: right;
    background-color: yellow;
}
.header-btn {
    display: inline-block;
}
.index-main {
    background-color: rgba(114, 208, 243, 0.3);
}
.main-slider {
    min-height: 530px;
    background-color: rgba(186, 100, 209, 0.5);
}
.main-promo {
    background-color: #e76a39;
    margin-bottom: 40px;
}
.promo-items {
    display: inline-block;
    box-sizing: border-box;
    width: 48.83%;
    min-width: 419px;
    background-color: yellow;
}
.promo-items.left_item {
    float: left;
    margin-right: 20px;
}
.promo-items.right_item {
    float: right;
}
.main-hits {
    /*display: flex;*/
    width: auto;
    background-color: silver;
}
.hits-items {
    display: inline-block;
    width: 22.2%;
    min-width: 200px;
    min-height: 240px;
    margin-right: 2.2%;
    background-color: yellow;
}
.hits-items:last-child {
    margin-right: 0;
}
